<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FTPHost" value="ftp://unitedtechno.com"/>
    <add key="FTPUsername" value="utisftp"/>
    <add key="FTPPassword" value="UTIS@2020a"/>
    <add key="ServiceEmailID" value="datacomparisoninfo@gmail.com"/>
    <add key="ServiceEmailPassword" value="Utis@123"/>
    <add key="SMTPHostName" value="smtp.gmail.com"/>
    <add key="SMTPPortNumber" value="587"/>
    <add key="ToAddress" value="sowmiyas@unitedtechno.com,sureshk@unitedtechno.com,venkatp@unitedtechno.com"/>
    <add key="FileNamesToCompare" value="Order,Customer,Catalog"/>
    <add key="SourceFolderDirectory" value="/UTIS/SourceFolder/"/>
    <add key="TargetFolderDirectory" value="/UTIS/TargetFolder/"/>
    <add key="MappingFolderDirectory" value="/UTIS/MappingRules/"/>
    <add key="ProcessedFolderDirectory" value="/UTIS/Processed/"/>
  </appSettings>
</configuration>